body {
    display: flex;
    margin: 0;
}

.image {
    display: flex;
    flex: 0 0 35%;
}

main {
    flex: 1;
}

.intro-text {
    padding: 40px;
    margin-top: 40px;
    padding-left: 40px;
}

.intro-text > p {
    font-size: 1.1rem;
    max-width: 450px;
}

form,
main > div,
.field {
    display: flex;
    flex-direction: column;
}

form {
    margin-left: 40px;
    padding-right: 40px;
}

form > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.field {
    margin-right: 40px;
}

input {
    width: 200px;
}

button {
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.ending-text {
    margin-top: 20px;
    margin-left: 40px;
}