body {
    display: flex;
    margin: 0;
}

.image {
    display: flex;
}

.intro-text {
    padding: 40px;
    margin-top: 40px;
    padding-left: 40px;
}

.intro-text > p {
    font-size: 1.1rem;
    max-width: 450px;
}

form,
main > div,
.field {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

input {
    
}

.ending-text {
    
}