@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Libre+Caslon+Text:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    background-color: #EDEAE4;
}

.image {
    display: flex;
    flex: 0 0 35%;
}

main {
    flex: 1;
}

.intro-text {
    padding: 40px;
    margin-top: 40px;
    padding-left: 40px;
}

.intro-text > p {
    font-size: 1.1rem;
    max-width: 400px;
}

form,
main > div,
.field {
    display: flex;
    flex-direction: column;
}

.intro-text, 
.intro-text h1 {
  font-family: 'Libre Caslon Text', serif;
}

body, label, input, button, .field {
  font-family: 'Arsenal', sans-serif;
}

form {
    margin-left: 40px;
    padding-right: 40px;
}

form > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.field {
    margin-right: 40px;
}

input {
    width: 200px;
}

label {
  font-size: 0.75rem;
  color: #6b6862;
  letter-spacing: 0.05em;
}

button {
    font-size: 0.8rem;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #6b6862;
    color: #FAF7F2;
    border: none;
}

.ending-text {
    margin-top: 20px;
    margin-left: 40px;
}